<a href="https://colab.research.google.com/github/RadarGem/RadarGem/blob/main/Pandas_So_Much_More_Than_A_Cute_Animal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
#convention for importing pandas
import pandas as pd
days = pd.Series(['Monday', 'Tuesday','Wednesday'])
print(days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [74]:
#creating series with a numpy array
import numpy as np
days_list = np.array(['Monday', 'Tuesday', 'Wednesday'])
numpy_days = pd.Series(days_list)
print(numpy_days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [75]:
# Using strings as index
days = pd.Series(['Monday', 'Tuesday','Wednesday'], 
index = (['a','b','c']))
#create series as dictionary
days1 = pd.Series({'a':'Monday','b':'Tuesday','c':'Wednesday'})
print(days)
print(days1)

a       Monday
b      Tuesday
c    Wednesday
dtype: object
a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [76]:
# Accessing Series
days[0]

'Monday'

In [77]:
# Accessing Series
days[1:]

b      Tuesday
c    Wednesday
dtype: object

In [78]:
# Accessing Series
days1['c']

'Wednesday'

In [79]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [80]:
#create a data from a Dictionary
df_dict = {'Country':['Ghana', 'Kenya', 'Nigeria', 'Togo'], 'Capital':['Accra', 'Nairobi', 'Abuja', 'Lome'],
           'Population': [10000, 8500, 35000, 12000], 'Age': [60, 70, 80, 75]}
df = pd.DataFrame(df_dict, index = [1, 2, 3, 4])

df

   Country  Capital  Population  Age
1    Ghana    Accra       10000   60
2    Kenya  Nairobi        8500   70
3  Nigeria    Abuja       35000   80
4     Togo     Lome       12000   75

In [81]:
#create a data from a Dictionary using List
df_list = [['Ghana', 'Accra', 10000, 60], ['Kenya', 'Nairobi', 8500, 70], ['Nigeria', 'Abuja', 35000, 80], ['Togo', 'Lome', 12000, 75]]
df1 = pd.DataFrame(df_list, columns= ['Country', 'Capital', 'Population', 'Age'],
                   index = [1, 2, 3, 4])
df1

   Country  Capital  Population  Age
1    Ghana    Accra       10000   60
2    Kenya  Nairobi        8500   70
3  Nigeria    Abuja       35000   80
4     Togo     Lome       12000   75

In [82]:
#Select the row in the index 3
df.iloc[3]

Country        Togo
Capital        Lome
Population    12000
Age              75
Name: 4, dtype: object

In [83]:
#Select the row in the label 3
df.loc[3]

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 3, dtype: object

In [84]:
#Select the capital column
df['Capital']

1      Accra
2    Nairobi
3      Abuja
4       Lome
Name: Capital, dtype: object

In [85]:
df.at[2, 'Country']

'Kenya'

In [86]:
df['Population'].sum()

65500

In [87]:
df.mean()

<ipython-input-87-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Population    16375.00
Age              71.25
dtype: float64

In [88]:
df.describe()

         Population        Age
count      4.000000   4.000000
mean   16375.000000  71.250000
std    12499.166639   8.539126
min     8500.000000  60.000000
25%     9625.000000  67.500000
50%    11000.000000  72.500000
75%    17750.000000  76.250000
max    35000.000000  80.000000

In [89]:
df_dict2 = {'Name':['James', 'Yemen', 'Caro', np.nan],
            'Profession': ['Researcher', 'Artist', 'Doctor', 'Writer'],
            'Experience': [12, np.nan, 10, 8],
            'Height': [np.nan, 175, 180, 150]}
new_df = pd.DataFrame(df_dict2)
new_df

    Name  Profession  Experience  Height
0  James  Researcher        12.0     NaN
1  Yemen      Artist         NaN   175.0
2   Caro      Doctor        10.0   180.0
3    NaN      Writer         8.0   150.0

In [90]:
new_df.isnull()

    Name  Profession  Experience  Height
0  False       False       False    True
1  False       False        True   False
2  False       False       False   False
3   True       False       False   False

In [93]:
new_df.dropna()

   Name Profession  Experience  Height
2  Caro     Doctor        10.0   180.0

In [98]:
new_df.dropna

<bound method DataFrame.dropna of     Name  Profession  Experience  Height
0  James  Researcher        12.0     NaN
1  Yemen      Artist         NaN   175.0
2   Caro      Doctor        10.0   180.0
3    NaN      Writer         8.0   150.0>